body{
    background-image: url('gradient-dynamic-blue-lines-background_23-2148995756.webp');
    font-family:'Montserrat'
}
/* NavBar */
.navbar-brand{
    margin-right: 100px;
}
.navbar{
     color:#fff;
}
.collapse{
    margin-right: 60px;
}
/* Containers */
.container{
    margin-top: 5%;
    margin-bottom: 5%;
    width:80%;

}
.container2{
    background-color:#EEEEEE;
    text-align: center;
    color: grey;
}
.container3{
    text-align: center;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
}
.carousel-content{
    padding-top: 15px;
}
/* Button */
.nav-button{
    border-radius: 5px;
}
.book-now{
    margin-top: 15px;
    border-radius: 2;
}
/* Row */
.first-row{
    padding-top: 10%;
    padding-bottom: 10%;
}
/* Paragraphs */
p{
    margin-bottom: 0;
}
/* Images */
.present-img, .gift-box, .box-img{
    width: 150px;
}
.brain-img, .cloud-img, .cargo-img{
    width: 100px;
    padding-bottom: 15px;
    padding-top: 15px;
}
/* Headers */
.header-2{
padding-top: 60px;

}
/* Paragraphs */
p{
    font-size: 18px;
}
.p-loren{
    padding: 15px;
    margin: auto;
}
/* Media Querry */
@media (max-width:1020px){
 .container{
    width: 95%;
 }   
}
